<!DOCTYPE html>
<html>
	<head>
		<title>EBay Shopping Cart</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>

		<!-- Loading the Java script file-->
		<script src ="angularjs/shoppingCart.js"></script>
	</head>
	
	<body  ng-app = "shoppingCart" style = "background-color:#f8f8f8">	
		<div ui-view = "navBar"></div>
		<div ui-view = "shoppingCart"></div>
	</body>
</html>
