<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to eBay</title>
  </head>
  <body>
    <h1 style = "text-align:center">Welcome to eBay</h1>
    <h3>Web site Under Construction...</h3>
    <form action = "logOut" method = "post">
    <button type = "submit" value = "Logout">Log Out</button>
    </form>
  </body>
</html>