<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
			.myButton {			
			background-color:#0079bc;
			border-radius:6px;
			color:#ffffff;
			font-size:15px;
			font-weight:bold;
			padding:8px 25px;
		}
		.myButton:hover {
			background-color:#00509d;
		}
	</style>
</head>

<div 
	ng-controller = "signupCtrl" 
	id = "primaryDiv" 
	class="container" 
	align = "center" 
	style = "position:absolute; TOP:100px; LEFT:40%; 
			border-radius:4px; 
			border:0.5px solid grey; 
			width:400px; 
			height:auto">
	<ul class="nav nav-tabs">
		<li class="active" style = "width:50%"><a data-toggle="tab" href="#signin">Sign In</a></li>
		<li style = "width:50%"><a data-toggle="tab" href="#register">Register</a></li>
	</ul>
	<div class="tab-content">
	
		<div id="signin" class="tab-pane fade in active">
			<form method = "POST" action = "/signInRequest">
				<input 
				id = "username"
				name = "username" 
				ng-model = "loginEmail" 
				type = "email"
				class = "form-control" 
				style = "width:350px; font-size:23px; margin-top: 20px" 
				placeholder = "Email or Username"></input>

				<input 
				id = "password" 
				name = "password"
				type = "password"
				ng-model = "loginPassword" 
				class = "form-control" 
				style = "width:350px; font-size:23px; margin-top: 20px" 
				placeholder = "Password"></input>

				<button 
				class = "myButton" 
				type = "submit"
				style = "width:350px; margin-top: 20px">Sign In</button>
				<p style = "margin-top: 20px"></p>
			</form>
		</div>
	



		<div id="register" class="tab-pane fade">
			<input 
			id = "emailInput" 
			type = "email"
			ng-model = "registerEmail" 
			class = "form-control" 
			style = "width:100%; font-size:23px; margin-top: 20px" 
			placeholder = "Email"></input>

			<input 
			id = "reenterEmailInput" 
			type = "email" 
			ng-model = "reenterRegisterEmail" 
			class = "form-control" 
			style = "width:100%; font-size:23px; margin-top: 20px" 
			placeholder = "Reenter Email"></input>

			<p 
			id = "warningMessage" 
			ng-show = "matchingEmails"
			style = "color:red"><strong>Looks like the entered emails do not match</strong></p>

			<input 
			id = "password" 
			ng-model = "registerPassword" 
			type = "password" 
			class = "form-control" 
			style = "width:100%; font-size:23px; margin-top: 20px" 
			placeholder = "Password"></input>
			<br>

			<input 
			id = "firstname" 
			ng-model = "firstname" 
			class = "form-control" 
			style = "width:48%; font-size:23px; float:left" 
			placeholder = "First Name"></input>

			<input 
			id = "lastname" 
			ng-model = "lastname" 
			class = "form-control" 
			style = "width:48%; font-size:23px; float:right" 
			placeholder = "Last Name"></input>
			<br><br>
			
			<input 
			id = "phoneNumber" 
			ng-model = "phoneNumber" 
			type = "number" 
			class = "form-control" 
			style = "width:100%; font-size:23px; margin-top: 10px" 
			placeholder = "Phone Number"></input>

			<span style = "margin-top:18px; float:left"><strong>DOB: </strong></span>
			<input 
			id = "DATEPicker" 
			ng-model = "dateOfBirth" 
			type="date" 
			class = "form-control" 
			style = "width:39%; font-size:15px; float:left; margin-top: 15px" value = "2016-10-06"></input>

			<input 
			id = "location" 
			ng-model = "location" 
			type="text" 
			class = "form-control" 
			placeholder = "Location"
			style = "width:48%; font-size:23px; float:right; margin-top: 15px"></input>

			<p 
			style = "width:100%; 
					font-size:12px; 
					margin-top: 60px">By Registering, you agree that you've read and accepted our User Agreement, 
									you're at least 18 years old, and you consent to our Privacy Notice and receiving 
									marketing communications from us.
			</p>

			<button 
			class = "myButton" 
			ng-click = "signUp()" 
			style = "width:350px; margin-top: 10px">Register</button>
			<p style = "margin-top: 20px"></p>
		</div>
	</div>	
</div>